.connect-btn {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../static/images/metamask-bg.jpg');
}

.connect-btn .metamask-btn {
  border: none;
  color: #fff;
  bottom: 150px;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  padding: 10px 20px;
  border-radius: 10px;
  background: #e27625;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}